.nav{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom:solid 1px rgb(147, 141, 141);
    align-items: center;
    line-height: 2px;
}
.nav .left{
    display: flex;
    
     
}
.nav .left .menu{
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.nav .left .menu li a{
text-decoration: none;
color:#4a5568;
font-size: 1.1rem;
padding:3px 16px;
display:block;
}
.nav .left .menu li a:hover {
    color: black;
}